##Terraform

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf lock file
.terraform.lock.hcl

# Crash log files
crash.log

.creds/
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/