[Unit]
Description=Frontend for JSON-filter
After=docker.service docker.restapi.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull oleksiihead/frontend:2.3
ExecStart=/usr/bin/docker run \
    --name %n \
    -h frontend \
    --net bridge_issue \
    -p 80:5000 \
    oleksiihead/frontend:2.3
ExecStop=/usr/bin/docker stop %n
ExecStopPost=-/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
