[Unit]
Description=Frontend for JSON-filter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull oleksiihead/frontend:1.7
ExecStart=/usr/bin/docker run \
    --rm --name %n \
    -p 80:5000 \
    oleksiihead/frontend:1.7
ExecStop=/usr/bin/docker stop -t 10 oleksiihead/frontend:1.7

[Install]
WantedBy=multi-user.target
