[Unit]
Description=Frontend for JSON-filter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull oleksiihead/frontend:1.6
ExecStart=/usr/bin/docker run \
    --rm --name %n \
    -p 55000:5000 \
    oleksiihead/frontend

[Install]
WantedBy=default.target
