---
- name: Add unit file for slackbot
  template:
    src: docker.slackbot.service.j2
    dest: /etc/systemd/system/docker.slackbot.service
#  notify: reload docker.slackbot

- name: Start docker.slackbot.service
  systemd:
    state: started
    name: docker.slackbot
    enabled: yes
    daemon_reload: yes