[Unit]
Description=PostgreSQL Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull postgres
ExecStart=/usr/bin/docker run \
    -h postgres \
    --name postgres \
    --net bridge_issue \
    -e POSTGRES_PASSWORD=Init1234 \
    -e POSTGRES_HOST=postgres \
    -e POSTGRES_USER=issueuser \
    -e POSTGRES_PW=Init1234 \
    -e POSTGRES_DB=issuedb \
    -e USERMAP_UID=999 \
    -e USERMAP_GID=999 \
    -d -p 5432:5432 \
    -v /home/projectIssues/docker/volumes/postgres:/var/lib/postgresql/data \
    docker.io/library/postgres:latest

[Install]
WantedBy=default.target