[Unit]
Description=RESTAPI Service
After=docker.service docker.postgres.service
Requires=docker.service

[Service]
KillMode=none
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
    -h restapi \
    --name %n \
    --net bridge_issue \
    -p 5001:5000 \
    -e github='https://github.com/Kv-DevOps-094/rest-api.git' \
    -e POSTGRES_HOST=postgres \
    -e POSTGRES_PORT=5432 \
    -e POSTGRES_USER=issueuser \
    -e POSTGRES_PW=Init1234 \
    -e POSTGRES_DB=issuedb \
    kimachinskiy/restapi
ExecStop=-/usr/bin/docker stop %n
ExecStop=-/usr/bin/docker rm %n

[Install]
WantedBy=default.target
