[Unit]
Description=SlackBot Service
After=docker.service
Requires=docker.service docker.rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull rmkdvps/slackbot:1.1
ExecStart=/usr/bin/docker run \
    --rm --name %n \
    --net bridge_issue \
    rmkdvps/slackbot:1.1
ExecStop=/usr/bin/docker stop -t 10 rmkdvps/slackbot:1.1

[Install]
WantedBy=multi-user.target
