[Unit]
Description=RMQ Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
    --name %n \
    -h rabbitmq \
    --net bridge_issue \
    -e RABBITMQ_USERNAME=devops \
    -e RABBITMQ_PASSWORD=softserve \
    -p 5672:5672 \
    -p 5671:5671 \
    -p 15672:15672 \
    bitnami/rabbitmq
ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
