[Unit]
Description=Rabbit to PostgreSQL Service
After=docker.service docker.postgres.service docker.rabbitmq.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull kimachinskiy/rabbit-to-bd
ExecStart=/usr/bin/docker run \
    -h rabbit_to_postgres \
    --name %n \
    --net bridge_issue \
    -d -e POSTGRES_HOST=postgres \
    -e POSTGRES_PORT=5432 \
    -e POSTGRES_USER=issueuser \
    -e POSTGRES_PW=Init1234 \
    -e POSTGRES_DB=issuedb \
    -e RABBIT_HOST=rabbitmq \
    -e RABBIT_PORT=5672 \
    -e RABBIT_USER=devops \
    -e RABBIT_PW=softserve \
    -e RABBIT_QUEUE=restapi \
    kimachinskiy/rabbit-to-bd

ExecStop=/usr/bin/docker stop -t 10 %n

[Install]
WantedBy=default.target
