[defaults]
stdout_callback = debug
callback_enabled = profile_tasks
inventory = ./inventory
remote_user = serve
private_key_file = ~/.ssh/serve
# auth for local VM
#remote_user = head
#private_key_file = ~/.ssh/id_rsa
# Disable SSH Host-keys check (since they are always different for new instances)
host_key_checking = False
# Disable the creation of * .retry files (they are rarely needed, but get in the way at hand)
retry_files_enabled = False
# We will explicitly indicate the location of the roles (you can specify several paths through ; )
roles_path = ./roles
nocows = 1
