region = "insert_region"
zone = "insert_zone"
instance_disk_image = "insert_disk_image"
machine_type = "insert_machine_type"
public_key_path = "~/.ssh/serve.pub"
project = "insert_project"
project_id = "insert_project_id"
//vpc_name = "insert_vpc_name"
instance_name = "insert_instance_name"
instance_count = 1
public_key_path = "/path/to/public/ssh/key"
service_account_key_file = "/path/to/service/account/key"
//gke_cluster_name = "insert_gke_cluster_name"
location = "insert_location"
